
<header>
  <h1>
    Dashboard
  </h1>
</header>

<div class="content">

  <article class="bubble">
    <h2>
      Meeting History
    </h2>
    <div id="chart">
    </div>
    <script type="text/javascript">
	   var chart;
        $(document).ready(function() {
            var monthNames = [ "Jan.", "Feb.", "Mar.", "Apr.", "May", "Jun.",
            "Jul.", "Aug.", "Sept.", "Oct.", "Nov.", "Dec." ];
            
            var colors = ['#43bbf0', '#43bbf0'];
            
        	chart = new Highcharts.Chart({
        		chart: {
        			renderTo: 'chart',
        			type: 'area',
        			height: 250
        		},
        		colors: colors ,
        		credits: {
        		  enabled: false
        		},
        		title: {
        			style: 'display: none;'
        		},
        		xAxis: {
        			labels: {
        				formatter: function() {
        					return monthNames[Math.round(this.value)];
        				}
        			}
        		},
        		yAxis: {
        			title: {
        				text: 'Cost'
        			},
        			labels: {
        				formatter: function() {
        					return '$' + Highcharts.numberFormat(this.value, 0);
        				}
        			}
        		},
        		tooltip: {
        			formatter: function() {
        				return '<strong>$'+
        					Highcharts.numberFormat(this.y, 0) +'</strong><br/>'+ monthNames[this.x];
        			}
        		},
        		plotOptions: {
        			area: {
        				pointStart: 1,
        				marker: {
        					enabled: false,
        					symbol: 'circle',
        					radius: 2,
        					states: {
        						hover: {
        							enabled: true
        						}
        					}
        				}
        			}
        		},
        		series: [{
        			name: 'Meeting History',
        			data: [{
                        x: 1,
                        y: 10000
        			}, {
                        x: 2,
                        y: 20000
        			},{
                        x: 3,
                        y: 10000
        			},{
                        x: 4,
                        y: 25000
        			},{
                        x: 5,
                        y: 41000
        			},{
                        x: 6,
                        y: 10000
        			},{
                        x: 7,
                        y: 0
        			},{
                        x: 8,
                        y: 24000
        			}]
        		}]
        	});
        });
	</script>
  </article>

  <article class="bubble half">
    <%= image_tag "date-bg.png", :alt => "", :class => "bg-img" %>
    <h2>Total meetings this year</h2>
    <p class="big-text">85</p>
  </article>
  
  <article class="bubble half last">
    <%= image_tag "cash-bg.png", :alt => "", :class => "bg-img cash-bg" %>
    <h2>Total cost of meetings this year</h2>
    <p class="big-text">$125,385</p>
  </article>

</div>
