<section class="page">
  <header>
    <h1>
      Dashboard
    </h1>
  </header>

  <div class="content">

    <article class="bubble">
      <h2>
        Meeting History
      </h2>
    </article>

    <article class="bubble half">
      <%= image_tag "date-bg.png", :alt => "", :class => "bg-img" %>
      <h2>Total meetings this year</h2>
      <p class="big-text">85</p>
    </article>
    
    <article class="bubble half last">
      <%= image_tag "cash-bg.png", :alt => "", :class => "bg-img cash-bg" %>
      <h2>Total cost of meetings this year</h2>
      <p class="big-text">$125,385</p>
    </article>

  </div>

</section>