
<header>
  <h1>
    Dashboard
  </h1>
</header>

<div class="content">

  <article class="bubble">
    <h2>
      Meeting History
    </h2>
    <div id="chart">
    </div>
    <script type="text/javascript">
	   var
        V = envision,
        container = document.getElementById('chart'),
        options, vis;
        
        options = {
        container : container,
        data : {
          price : financeData.price,
          volume : financeData.volume,
          summary : financeData.price
        },
        trackFormatter : function (o) {
        
          var
            data = financeData,
            index = o.index,
            value;
        
          value = data.summaryTicks[index].date + ': $' + data.price[1][index] + ", Vol: " + data.volume[1][index];
        
          return value;
        },
        xTickFormatter : function (index) {
          var date = new Date(financeData.summaryTicks[index].date);
          return date.getFullYear() + '';
        },
        // An initial selection
        selection : {
          data : {
            x : {
              min : 100,
              max : 200
            }
          }
        }
        };
        
        vis = new envision.templates.Finance(options);
	</script>
  </article>

  <article class="bubble half">
    <%= image_tag "date-bg.png", :alt => "", :class => "bg-img" %>
    <h2>Total meetings this year</h2>
    <p class="big-text">85</p>
  </article>
  
  <article class="bubble half last">
    <%= image_tag "cash-bg.png", :alt => "", :class => "bg-img cash-bg" %>
    <h2>Total cost of meetings this year</h2>
    <p class="big-text">$125,385</p>
  </article>

</div>
