<% body_classes << "full-page" %>
<% content_for :before_page do %>
<div class="banner">
    <%= image_tag( "home-preview.jpg", :alt => "MeeterApp" ) %>
</div>
<% end %>

<div class="content">
    <p>MeeterApp is a tool that allows companies to organize meetings and measure the financial and productive impact that those meetings have on the company, with the ultimate goal being the end of unnecessary meetings.</p>
    <%= link_to "Sign Up", new_user_registration_path, :class => 'button' %>
    <%= link_to "or sign in", new_user_session_path, :class => 'secondary' %>
</div>