@import 'normalize.scss';
@import 'globals.scss';

body{
    background: url(noise.png) #e4e6e8;
    font-family: $helvetica;
    color: $light_text;
}

*{
    @include box-sizing(border-box);
}

img{
    max-width: 100%;
}

// ******************************************************
//  Basic structure

nav{
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        display: inline;
    }
}

.wrap{
    @include clearfix;
    width: 90%;
    max-width: $full + px;
    margin: 80px auto;
}

.registrations.new .wrap, .sessions.new .wrap, .mini .wrap, .home .wrap{
    max-width: 400px;
}

.container, .wrap{
    @include clearfix;
}

.sidebar{
    @include border-radius(4px 0 0 4px);
    @include box-shadow(inset -5px 0 5px rgba(0,0,0,0.2));
    background: $sidebar_bg;
    border-left: 1px solid #23252b;
    border-top: 1px solid #23252b;
    border-bottom: 1px solid #23252b;
    width: perc($sidebar_size);
    float: left;
}

.page{
    @include border-radius(0 4px 4px 0);
    background: #f7f7f7;
    min-height: 400px;
    width: perc($page_size);
    float: left;
}

.content{
    padding: $gutter;
}

.full-page{
    .page{
        @include border-radius;
        width: perc($full);
        
        header{
            @include border-radius(4px 4px 0 0)
        }
    }
}

footer.primary{
    clear: both;
    font-size: 12px;
    text-align: center;
    margin-top: $gutter;
}

// ******************************************************
//  Global styles

a{
    text-decoration: none;
    color: $link_color;
    
    &:hover{
        color: darken($link_color, 20%);
    }
}

h1, h2, h3{
    color: $normal_text;
}

h2{
    color: $link_color;
}

p{
    line-height: 1.5;
}

.notice, .flash{
    @include border-radius;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid $border_color;
}

label{
    display: block;
}
input, textarea{
    @include border-radius;
    @include box-shadow(inset 0 1px 1px rgba(#000, 0.1));
    background: #fff;
    border: 1px solid $border_color;
    color: $light_text;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    margin-bottom: $gutter / 2;
}
textarea{
    line-height: 1.5;
    height: 75px;
}
input[type="checkbox"], input[type="radio"]{
    display: inline;
    width: auto;
}
.checkbox-label{
    display: inline-block;
}
input[type="submit"], button, .button{
    @include border-radius;
    @include box-shadow(inset 0 1px 0 rgba(#fff, 0.4));
    @include vertical-gradient($link_color, darken($link_color, 20%));
    border: 1px solid darken($link_color, 20%);
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(#000, 0.2);
    
    &:hover{
        color: #fff;
    }
}

// ******************************************************
//  Header

header.primary{
    @include clearfix;
    padding-bottom: $gutter;
    line-height: 1;
    
    .logo{
        float: left;
        margin: 0;
    }
    nav{
        text-align: right;
        float: right;
        margin-top: 10px;
        
        a{
            font-size: 11px;
            color: #1e1e1e;
            padding: 10px 0;
            
            &:hover{
                text-decoration: underline;
            }
        }
        
        li{
            margin-left: $gutter;
        }
    }
}

// ******************************************************
//  Page Styles

.page{
    header{
        @include border-radius(0 4px 0 0);
        @include box-shadow(0 1px 0 #fff);
        @include vertical-gradient(#fff, #dcdcdc);
        border-bottom: 1px solid #b4b4b4;
        padding: $gutter;
        
        h1{
            color: $dark_blue;
            font-size: 36px;
            font-weight: 500;
            margin: 0;
            text-shadow: 0 1px #fff;
            line-height: 1;
        }
        
        p{
            font-size: 16px;
            color: lighten($light_text, 10%);
            margin: 15px 0 0;
            line-height: 1.4;
            text-shadow: 0 1px #fff;
        }
    }
    
    h2, label{
        font-size: 12px;
        margin: 0 0 10px;
    }
}

.text-block{
    margin-bottom: $gutter;
    
    p:last-child{
        margin-bottom: 0;
    }
}

.people-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.bubble{
    @include border-radius;
    @include box-shadow(inset 0 1px 1px rgba(#000, 0.1));
    background: #fff;
    border: 1px solid $border_color;
    overflow: hidden;
    padding: 20px;
    position: relative;
    margin-bottom: $gutter;
    
    &:last-child{
        margin-bottom: 0;
    }
    
    .people-list{
        @include clearfix;
        font-size: 13px;
        color: $light_text;
        
        strong{
            font-size: 16px;
            color: $normal_text;
            display: block;
        }
        
        .avatar{
            width: 35px;
            height: 35px;
            float: left;
            margin-right: 10px;
        }
        
        .remove{
            @include transition;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -16px;
            opacity: 0.35;
            width: 12px;
            height: 12px;
            
            &:hover{
                opacity: 0.9;
            }
        }
        
        li{
            border-bottom: 1px solid $border_color;
            padding-bottom: 15px;
            margin-bottom: 15px;
            position: relative;
            padding-right: 20px;
            width: perc((($page_size - 40) / 2) - 15, $page_size);
            float: left;
            
            &:nth-child(odd){
                margin-right: perc($gutter_i);
            }
            
            &:last-child, &:nth-last-child(2){
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    
    h2{
        color: $light_text;
        font-weight: normal;
    }
    
    .big-text{
        color: $normal_text;
        font-size: 48px;
        font-weight: bold;
        margin: 0;
        line-height: 1;
    }
    
    .bg-img{
        @include transition;
        @include transform(rotate(-20deg));
        opacity: 0.1;
        position: absolute;
        bottom: -20px;
        right: -10px;
        
        &.cash-bg{
            bottom: -30px;
        }
    }
    
    &:hover .bg-img{
        @include transform((rotate(0deg) scale(0.8)));
        right: 0;
        bottom: 0;
        
        &.cash-bg{
            bottom: -10px;
        }
    }
}

.half, .bubble.half{
    width: perc(($page_size / 2) - 15, $page_size);
    float: left;
    margin-right: perc($gutter_i, $page_size);
    
    &.last{
        margin-right: 0;
    }
    
    .people-list{
        li{
            margin-bottom: 5px;
            padding-bottom: 0;
            border-bottom: 0 none;
            float: none;
            width: auto;
            height: 20px;
        }
        
        strong{
            font-size: 13px;
            display: inline;
        }
        
        .avatar{
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }
}

.quart{
    width: perc(($page_size / 2) - 15, $page_size);
    margin-right: perc($gutter_i, $page_size);
    float: left;
    
    &.last{
        margin-right: 0;
    }
}

.form-links{
    font-size: 12px;
    
    a{
        margin-right: 15px;
    }
}

// ******************************************************
//  Sidebar Styles

.sidebar{
    font-size: 14px;
    
    nav{
        @include clearfix;
        
        img{
            margin-bottom: 2px;
        }
        
        a{
            @include vertical-gradient(#414a59, #22262e);
            color: #fff;
            display: block;
            font-weight: bold;
            padding: 20px 5px;
            text-align: center;
        }
        li{
            width: 50%;
            float: left;
            border-bottom: 1px solid #22262e;
            
            &:last-child{
                a{
                    @include box-shadow(-1px 0 0 rgba(#000, 0.2));
                    border-left: 1px solid rgba(#fff, 0.12);
                }
            }
            
            &.active{
                border-color: #303641;
                
                a{
                    @include box-shadow(inset 0 6px 8px rgba(#000, 0.3));
                    background: none;
                    color: rgba(#fff, 0.8);
                    
                    img{
                        opacity: 0.8;
                    }
                }
            }
        } // li
        
    } // nav
    
    .people-tab{
        display: none;
    }
    
    .new{
        @include border-radius;
        @include box-shadow((inset 0 1px 0 rgba(#fff, 0.9), 0 1px 0 rgba(#000, 0.9)));
        @include vertical-gradient(rgba(#fff, 0.45), rgba(#fff, 0.8));
        color: #232830;
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin: $gutter / 2;
        padding: 10px 5px;
        text-align: center;
        text-shadow: 0 1px #fff;
        
        &:hover{
            @include vertical-gradient(rgba(#fff, 0.6), rgba(#fff, 1));
        }
        
        &:active{
            @include box-shadow((inset 0 1px 0 rgba(#fff, 0.9)));
            position: relative;
            top: 1px;
        }
        
        img{
            margin-right: 10px;
        }
    } // .new
    
    .avatar{
        width: 32px;
        height: 32px;
        float: left;
        margin-right: 10px;
    }
    
    .items{
        font-size: 12px;
        margin: -10px 0 0;
        padding: 0;
        
        a, &.people li{
            @include box-shadow(0 1px 0 rgba(#fff, 0.15));
            @include transition;
            border-bottom: 1px solid rgba(#000, 0.2);
            padding: 10px ($gutter / 2);
            color: #97acd0;
            display: block;
            cursor: pointer;
            
            strong{
                color: #fff;
            }
            
            &:hover{
                background: rgba(#000, 0.2);
            }
        }
        
        strong{
            font-size: 14px;
            margin-bottom: 3px;
            display: block;
        }
        
        li{
            list-style: none; 
            
            &:last-child a{
                @include box-shadow(none);
                border-bottom: none 0;
                margin-bottom: 0;
            }
            
            &.active{
                position: relative;
                
                &:after{
                    background: url(white-indent-arrow.png) center center no-repeat;
                    content: '';
                    display: block;
                    position: absolute;
                    height: 26px;
                    width: 9px;
                    top: 50%;
                    right: 0;
                    margin-top: -13px
                }
            }
        }
    } // .items
    
    .people {
        input[type="checkbox"]{
            display: none;
        }
        
        li.selected, li.selected:hover{
            background: rgba(#000, 0.5);
            
            .avatar{
                border: 2px solid #fff;
            }
        }
    }
}

// ******************************************************
//  Home

.home{
    .banner{
        @include border-radius;
        padding: 5px;
        background: #fff;
        margin-bottom: $gutter / 2;
    }
    .page{
        min-height: 0;
        
        p{
            margin-top: 0;
        }
        
        .button{
            display: block;
            text-align: center;
            padding: 8px;
            margin-bottom: 10px;
        }
        .secondary{
            text-align: center;
            font-size: 12px;
            display: block;
        }
    }
}
// ******************************************************
//  Plugins

.modal{
    display: none;
    
    .modal-body{
        padding: 0;
        
        input[type="submit"]{
            display: none;
        }
    }
    
    .page{
        width: 100%;
        background: none;
        
        header{
            @include border-radius(4px 4px 0 0);
            padding: 20px;
            
            h1{
                font-size: 18px;
            }
        }
        
        .content{
            padding: 20px;
        }
    }
    
    .close{
        @include box-shadow(none);
        background: #999;
        border: 0 none;
        
        &:hover{
            background: #444;
        }
    }
    
    .button{
        display: inline-block;
        padding: 6px 10px;
        margin-left: 8px;
        cursor: pointer;
    }
}

.modal-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.4);
}

.highcharts-title, .highcharts-legend{
    display: none;
}